<%= simple_form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category" } %>
  </div>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @photo.image.present? %>
    <span>Present photo</span> <br>
    <%= image_tag(@photo.image.thumb.url) %>
  <% end %>

  <div class="form-group">
    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image , as: :file %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Ingredients</p>
      <div id="ingredients">
        <%= f.simple_fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button" %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <p>Directions</p>
      <div id="directions">
        <%= f.simple_fields_for :directions do |direction| %>
          <%= render 'direction_fields', f: direction %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Direction', f, :directions, class: "btn btn-default add-button" %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
